<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sed.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3A4C5F7B2C09BB30EC8ABFEA2AA6689A91F2D9E0</string>
				<key>dateExpires</key>
				<string>2020/11/5</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GPDX9GUGVD.cn.net.bewgcloud.sed</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GPDX9GUGVD</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>污水运营平台.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2e83dfc3-c1f3-4606-ad74-147435c1d6ef</string>
				<key>name</key>
				<string>sedDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GPDX9GUGVD</string>
				<key>name</key>
				<string>Beijing Enterprises Water (China) Investment Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
